
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  background-color: rgb(236, 236, 238);
  color: #333;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  color: white;
  flex-wrap: wrap;
  background: linear-gradient(90deg, rgb(0, 0, 0), rgb(17, 202, 79));
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

@font-face {
  font-family: fontmassa;
  src: url("fonts/AltarGothicDemo-Regular.otf");
}

h1 {
  font-family: "fontmassa";
  color: #67ff67;
  letter-spacing: 5px;
}


nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
  letter-spacing: 1px;
  position: relative;
  transition: color 0.3s ease;
}


nav a:hover {
  color: rgb(118, 255, 125);
}


main {
  flex: 1;
  min-width: max-content;
   background-image: url('imagens/img5.png');
}

main img {
  min-width: 100%;
  filter: brightness(55%) contrast(110%);

}

.fundo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

footer {
  background-color: #111;
  color: white;
  text-align: center;
  padding: 15px;
  font-size: 0.9rem;
  display: flex;
  justify-content: space-around;
}

footer a {
  color: rgb(118, 255, 125);
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}